HOST=127.0.0.1
PORT=5190

MAILGUN_API_KEY=key-your-mailgun-api-key
MAILGUN_DOMAIN=mailer.edgepoint.co.nz
MAILGUN_FROM_NAME=EdgePoint WorkshopPro
MAILGUN_FROM_EMAIL=postmaster@mailer.edgepoint.co.nz
DEMO_REQUEST_TO=renel@edgepoint.co.nz

# Only set this when using an EU Mailgun domain.
# MAILGUN_BASE_URL=https://api.eu.mailgun.net
